<form action="/page2" method="get">

     <div class="container2">

          <h1>languages</h1>

         


</form>
<br>
<br>

<script src="/js/langsound.js"></script>


<br>
<div class="languages">
   
   <div class="text">
          <h3>
          <ul>
               <li> Learn how to pronounce the languages.</li>
               <br>
               {{!-- <li> Help your self and listen to each of them and get your a brief light. &#128521;</li> --}}
          </ul>
     </h3>
   </div>


    
         

     <input type="button" id="audio" onclick="sound()" value="Isixhosa">
     <input type="button" id="suthu" onclick="sotho()" value="seSotho">
     <input type="button" id="venda" onclick="tsivenda()" value="tshiVenda">
     <input type="button" id="tshindebele" onclick="ndebele()" value="isindebele">
     <input type="button" id="afrikaansAud" onclick="afrikaans()" value="Afrikaans">
     <input type="button" id="Isixitsonga" onclick="xitsonga()" value="xitsonga">



</div>

 <br/>

<div class="buttonTest">

               <button type="submit" class="button3">Test yourself</button>


          </div>
