<form action="/page2" method="get">

<div class="container2">
    
    <h1>languages</h1>

   

   
         <div class="buttonTest">

    <button type="submit" class="button3">Test yourself</button>
    

    </div>
             

    </form>
    <br>
    <br>
   
    <script src="/js/langsound.js"></script>

    
    <br>
     <div class="languages">
          <h3><ul> <li> this is a mini tutorial of how to pronounce the languages.</li>
               <br><li> Help your self and listen to each of them and get your a brief light. &#128521;</li></ul></h3>
    
    <input type="button" id="audio" onclick="sound()"value="Isixhosa" >   
    <input type="button" id="suthu" onclick="sotho()" value="seSotho">
    <input type="button" id="venda" onclick="venda()"  value="tshiVenda">
    <input type="button" id="ndebele" onclick="ndebele()" value="isindebele">

    </div>

    </div>