<form action="/page2" method="get">

<div class="container2">
    
    <h1>languages</h1>

    <img src="images.png" alt="sa flag">

    <div class="languages">
        <a href=""> isiXhosa</a>
        <a href=""> English</a>
        <a href=""> Afrikaans</a>
        <a href=""> Sesotho</a>
        <a href=""> Tswana</a>
        <a href=""> isiZulu</a>
        <a href=""> Sepedi</a>
        <a href=""> Tshivenda</a>
        <a href=""> Xitsonga</a>
        <a href=""> isiNdebele</a>
    </div>
    </div>
    <br>
    <br>
    <div class="buttonTest">

    <button type="submit" class="button">Test yourself</button>

    </div>

    </form>