body {
    /* background-image: ; */
    background-color: green;
    width: 80%;
    background: linear-gradient(-70deg, green 5%, yellow 5%, white 5%, blue 5%, red 5%, rgba(0, 0, 0, 0) 30%), url(south-african-flag-clipart-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.container {
    text-align: center;
}

.container2 {
    text-align: center;
    width: 100%;
    /* border: 2px solid steelblue; */

}

a{
    font-size: 20px;
    color: rgb(26, 22, 26);
    text-decoration: none;
    background-color: oldlace;
    margin-right:10px ;
   
}

h1 {
    animation: color-change 15s infinite;
    font-size: 100px;
    color: honeydew;
}
.exercise{
    text-align:center ;
}
h2{
    font-size: 40px;
    color: black;
}

@keyframes color-change {

    0%,
    100% {
        color: crimson;
    }

    20% {
        color: green;
    }

    40% {
        color: lightcyan;
    }

    60% {
        color: darkblue;
    }

    80% {
        color: yellow;
    }
}

.button {
    width: 200px;
    height: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px;
    border:red 2px solid;
    position: relative;
    left: 25cm;
    top: 6.2cm
}

.button1 {
    width: 200px;
    height: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px;
    border:red 2px solid;
    position: relative;
    right: 3cm;
    top: 2.3cm;
    
}
.button2{
    width: 200px;
    height: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px;
    border:red 2px solid;
    position: relative;
}
.button3 {
    width: 200px;
    height: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px;
    border:red 2px solid; 

}


.button:hover {
    font-size: 20px;
    border-radius: 15px;
    color: white;
    background-color: tomato;
    border: green 3px solid;
}

.button1:hover {
    font-size: 20px;
    border-radius: 15px;
    color: white;
    background-color: tomato;
    border: green 3px solid;
}
.button2:hover {
    font-size: 20px;
    border-radius: 15px;
    color: white;
    background-color: tomato;
    border: green 3px solid;
}
.button3:hover {
    font-size: 20px;
    border-radius: 15px;
    color: white;
    background-color: tomato;
    border: green 3px solid;
}
.buttonTest{
    margin-top: 2em;
    text-align: center;
}
.results{
    text-align: center;
}

.username{
    width: 300px;
    height: 50px;
    margin-bottom: 2em;
}
input { font-size: 25px; }

.teachStyle{
    text-align: center;
    margin-top: 5em;
}

.langDisplay{
    color: whitesmoke;
    font-size: 2em;
    margin-top: 5em;
}